       .v {
           position:fixed;
           left:0px;
           animation-name:fade;
           animation-duration: 3s;
          }

         
       .fade {
              font-size:30px;
              animation-name:fade;
              animation-duration:3s;
       }


       .btn {
              width:100px;
              height:50px;
              
       }

@keyframes fade {
       from {
              opacity: 0;
       }

       to {
              opacity: 1;
       }
}
