       .fade {
              font-size:30px;
              animation-name:fade;
              animation-duration:3s;
       }


       .btn {
              width:250px;
              height:170px;
              background: rgb(0,40,40);
              cursor:pointer;
              border: 5px solid white;
              border-radius: 10px;
              color:white;
              font-size:30px;
       }
       .under {
              text-decoration: none;
       }

@keyframes fade {
       from {
              opacity: 0;
       }

       to {
              opacity: 1;
       }
}
