            a {
                color: black;
                font-family: "calibri";
            }
            
            html {
                margin: 0;
                padding: 0;
                background: rgb(0, 50, 50);
                color: black;
                font-family: "Trebuchet MS";
            }
