
            a {
                color: rgb(255, 255, 255);
            }
            
            html {
                background: rgb(0, 50, 50);
                color: rgb(255, 255, 255);
                font-family: calibri;
            }
