      .size {
        width: 599px;
        height: 400px;
        position: fixed;
        left: 0px;
        top: 0px;
      }

      body {
            margin: 0;
            padding: 0;
            color: white;
            background: black;
      }
